@model TeamAscend.Agapay.Web.Models.UsersPageViewModel
@{
    Layout = "_BackEndLayout";
    ViewData["Title"] = "Users";
}
@section Header
{
    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        #dataTable th{

        }
    </style>
}
<form id="frmDetails" method="post" action="~/Users/SaveRecord">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users</h1>
        @* <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> New User
        </a> *@
        <button class="btn btn-primary btn-icon-split shadow" type="button" id="btnNewUser">
            <span class="icon text-white-50">
                <i class="fas fa-user-plus"></i>
            </span>
            <span class="text">New User</span>            
        </button>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow" style="padding:10px">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        @* <th>Fullname</th> *@
                        <th>Role</th>
                        <th>Created Date</th>
                        <th>Modified Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        @* <th>Fullname</th> *@
                        <th>Role</th>
                        <th>Created Date</th>
                        <th>Modified Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var itm in Model.Users)                
                    {
                        <tr>
                            <td>@itm.ID</td>
                            <td>@itm.Username</td>
                            @* <th>Fullname</th> *@
                            <td>@itm.Role</td>
                            <td>@itm.CreatedDate</td>
                            <td>@itm.ModifiedDate</td>
                            <td>
                                <a href="#" class="text-success" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#" class="text-danger" title="Delete">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade right" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">User: <span class="selected-user"></span></h5>
                    @* <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button> *@

                    <span style="float:right">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    </span>                    
                </div>
                <div class="modal-body">
                    <input type="hidden" id="ID" name="ID" />
                    
                    <!-- Username and Password Section -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="Username">Username</label>
                            <input class="form-control" id="Username" name="Username" type="text" placeholder="Enter username" required/>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="Password">Password</label>
                            <div class="input-group">
                                <input class="form-control" id="Password" name="Password" type="password" placeholder="Enter password" required />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Name Fields -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-4">
                            <label class="small mb-1" for="FirstName">First Name</label>
                            <input class="form-control" id="FirstName" name="FirstName" type="text" placeholder="Enter first name" required />
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1" for="MiddleName">Middle Name</label>
                            <input class="form-control" id="MiddleName" name="MiddleName" type="text" placeholder="Enter middle name" />
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1" for="LastName">Last Name</label>
                            <input class="form-control" id="LastName" name="LastName" type="text" placeholder="Enter last name" required />
                        </div>
                    </div>

                    <!-- Role and Birth Date -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="Role">Role</label>
                            <select class="form-control" id="Role" name="Role">
                                <option value="ADMIN">Admin</option>
                                <option value="STAFF">Staff</option>
                                <option value="USER">GoPlan User</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="BirthDate">Birth Date</label>
                            <input class="form-control" id="BirthDate" name="BirthDate" type="date" />
                        </div>
                    </div>

                    <!-- Contact Information -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="EmailAddress">Email Address</label>
                            <input class="form-control" id="EmailAddress" name="EmailAddress" type="email" placeholder="Enter email address" />
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="ContactNo1">Primary Contact</label>
                            <input class="form-control" id="ContactNo1" name="ContactNo1" type="tel" placeholder="Enter primary contact" />
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="ContactNo2">Secondary Contact</label>
                            <input class="form-control" id="ContactNo2" name="ContactNo2" type="tel" placeholder="Enter secondary contact" />
                        </div>
                    </div>

                    <!-- Address Information -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="AddressLine1">Address Line 1</label>
                            <input class="form-control" id="AddressLine1" name="AddressLine1" type="text" placeholder="Enter address line 1" />
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="AddressLine2">Address Line 2</label>
                            <input class="form-control" id="AddressLine2" name="AddressLine2" type="text" placeholder="Enter address line 2" />
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="Barangay">Barangay</label>
                            <input class="form-control" id="Barangay" name="Barangay" type="text" placeholder="Enter barangay" />
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="City">City</label>
                            <input class="form-control" id="City" name="City" type="text" placeholder="Enter city" />
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="Region">Region</label>
                            <input class="form-control" id="Region" name="Region" type="text" placeholder="Enter region" />
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="ZipPostCode">Zip Code</label>
                            <input class="form-control" id="ZipPostCode" name="ZipPostCode" type="text" placeholder="Enter zip code" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--Bottom Toolbar here-->
                </div>
            </div>
        </div>
    </div>
    
</form>
@section Scripts {
    <script>
        function NewUser(){
            $('#frmDetails').trigger('reset');
            $('#userModal').modal('show')
        }

        function EditUser(uID){
            $('#userModal').modal('show');
        }

        $(document).ready(function() {

            //TransformStream HTML Table to Datatable
            $('#dataTable').DataTable();


            $('#frmDetails').validate({
                submitHandler: function(form) {
                    // Form is valid, submit via AJAX or other custom logic
                    alert("Form submitted successfully!");
                    form.submit(); // Or use AJAX
                }
            });

            $('#btnNewUser').on('click',function(){
                NewUser();
            });

            // Password visibility toggle
            document.getElementById('togglePassword').addEventListener('click', function() {
                const passwordInput = document.getElementById('Password');
                const icon = this.querySelector('i');

                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    icon.classList.remove('fa-eye');
                    icon.classList.add('fa-eye-slash');
                } else {
                    passwordInput.type = 'password';
                    icon.classList.remove('fa-eye-slash');
                    icon.classList.add('fa-eye');
                }
            });
        });

        
    </script>

}