@model List<TeamAscend.Agapay.Web.Models.BlogPost>
@{
    Layout = "_BackEndLayout";
    ViewData["Title"] = "Blog Posts";
}
@section Header
{
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .cover-photo-preview {
            max-width: 200px;
            max-height: 200px;
            margin-top: 10px;
        }
    </style>
}

<form id="frmDetails" method="post" action="~/Content/SaveBlogPost" autocomplete="off" enctype="multipart/form-data">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id="pageTitle">Blog Posts</h1>
        <button class="btn btn-primary btn-icon-split shadow" type="button" id="btnNewPost">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">New Content</span>            
        </button>
    </div>

    <div class="card shadow" style="padding:10px">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Created Date</th>
                        <th>Modified Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)                
                    {
                        <tr>
                            <td>@post.ID</td>
                            <td>@post.Title</td>
                            <td>@post.BlogType</td>
                            <td>@post.BlogStatus</td>
                            <td>@post.CreatedDate</td>
                            <td>@post.ModifiedDate</td>
                            <td>
                                <a href="#" class="text-success" title="Edit" onclick="EditPost(@post.ID)">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#" class="text-danger" title="Delete" onclick="DeletePost(@post.ID)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade right" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="blogModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="blogModalLabel">Blog Post</h5>
                    <span style="float:right">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    </span>                    
                </div>
                <div class="modal-body">
                    <input type="hidden" id="ID" name="ID" />
                    <input type="hidden" id="UserID" name="UserID" />
                    
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="Title">Title</label>
                            <input class="form-control" id="Title" name="Title" type="text" placeholder="Enter title" required/>
                        </div>
                    </div>

                    <!-- Blog Type and Status -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="BlogType">Type</label>
                            <select class="form-control" id="BlogType" name="BlogType" required>
                                <option value="ANNOUNCEMENT">Announcement</option>
                                <option value="GUIDE">Guide</option>
                                <option value="INFOGRAPH">Infograph</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="BlogStatus">Status</label>
                            <select class="form-control" id="BlogStatus" name="BlogStatus" required>
                                <option value="DRAFT">Draft</option>
                                <option value="PUBLISHED">Published</option>
                                <option value="ARCHIVED">Archived</option>
                            </select>
                        </div>
                    </div>

                    <!-- Cover Photo -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="CoverPhotoUpload">Cover Photo</label>
                            <input class="form-control" id="CoverPhotoUpload" type="file" accept="image/*" required/>
                            <input type="hidden" id="CoverPhoto" name="CoverPhoto" />
                            <img id="coverPhotoPreview" class="cover-photo-preview" style="display: none;" />
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="small mb-1" for="Content">Content</label>
                            <textarea class="form-control" id="Content" name="Content" rows="10" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/ckeditor.4.5.3/ckeditor.js"></script>
    <script>
        function NewPost(){
            $('#ID').val(0);
            $('#UserID').val(1);
            $('#coverPhotoPreview').hide();
            CKEDITOR.instances['Content'].setData('');
            $('#frmDetails').trigger('reset');
            $('#blogModal').modal('show')
        }

        function EditPost(postId){
            $.ajax({
                url: '/Content/GetBlogPost?ID=' + postId,
                method: 'GET',
                success: function (res) {
                    console.log('GetBlogPost > res: ', res);
                    for (let key of Object.keys(res)) {
                        if (key === 'CoverPhoto' && res[key]) {
                            $('#CoverPhoto').val(res[key]);
                            $('#coverPhotoPreview').attr('src', res[key]).show();
                        } else {
                            $('#' + key).val(res[key]);
                        }
                    }
                    CKEDITOR.instances['Content'].setData(res['Content']);
                    $('#blogModal').modal('show');
                },
                error: function (err) {
                    alert('Error Getting Data!');
                },
            });
        }

        function DeletePost(postId){
            if(confirm('Do you want to delete this blog post?')){
                $.ajax({
                    url: '/Content/DeleteBlogPost?ID=' + postId,
                    method: 'GET',
                    success: function (res) {
                        if(res == '1'){
                            alert('Deletion Successful!');
                            window.location.reload();
                        }                    
                    },
                    error: function (err) {
                        alert('Error Deleting Data!');
                    },
                });
            }
        }

        $(document).ready(function() {
            $('#dataTable').DataTable();

            $('#frmDetails').validate({
                submitHandler: function(form) {
                    let txtContent = CKEDITOR.instances['Content'].getData();
                    $('#Content').val(txtContent);
                    IsBusy(true,'Processing...');
                    form.submit();
                }
            });

            var editor = CKEDITOR.replace('Content');

            $('#btnNewPost').on('click', function(){
                NewPost();
            });

            // Cover photo preview
            $('#CoverPhotoUpload').change(function() {
                const file = this.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        $('#coverPhotoPreview').attr('src', e.target.result).show();
                        $('#CoverPhoto').val( e.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });

            // Set initial BlogType based on current route
            const path = window.location.pathname;
            if (path.includes('InfoGraphs')) {
                $('#BlogType').val('INFOGRAPH');
                $('#pageTitle').text('Info Graphics')
            } else if (path.includes('Announcements')) {
                $('#BlogType').val('ANNOUNCEMENT');
                $('#pageTitle').text('Announcements')
            } else if (path.includes('Guides')) {
                $('#BlogType').val('GUIDE');
                $('#pageTitle').text('Guides')
            }
              
        });
    </script>
}