@page "/"
<section id="weather_n_address">
    <div class="weather-details">
        <img src="/imgs/weather_icons/sunny_cloudy.png" style="height:50px" />
        <span class="weather-title">Sunny</span>
        <span class="weather-temp"><i class="fas fa-temperature-low"></i>&nbsp;35<sup>0</sup></span>
        @*<span class="weather-date"></span>*@
    </div>
    <div class="address-details">
        <span style="margin-top: 10px;display: inline-block;">
            Cubao, Quezon City
            &nbsp;
            <i class="fa fa-caret-down"></i>
        </span>
    </div>
</section>

@*<marquee><h5>@DateTime.Today.ToLongDateString()</h5></marquee>*@
<div id="newsflash" class="marquee"><p style="margin:0px;padding:0px">@DateTime.Today.ToLongDateString()</p></div>


<!--Announcement Section Home Page-->
<section>
    <div class="announcement-header">
        <h1 class="main-label">Announcement</h1>
        <a href="/Announcement" class="see-more">See more</a>
    </div>

    <div id="announcementPanel" class="section-highlight" style="/*background-color:pink;*/">
        <div class="cycle-slideshow"
             data-cycle-fx="scrollHorz"
             data-cycle-pause-on-hover="true"
             data-cycle-timeout="5000"
             data-cycle-slides="> div"
             data-cycle-swipe="true"
             data-cycle-swipe-fx="scrollHorz"
             data-cycle-pager=".sliderannouncement-pager">

            @if (Model != null)
            {
                if (Model.FBPosts != null)
                {
                    foreach (var itm in Model.FBPosts)
                    {
                        <div id="@itm.id" data-time="@itm.created_time" class="slide-banner" style="background-image: url('imgs/banners/rain1.jpg')">
                            <h4>Cubao</h4>
                            <h2>@itm.message</h2>
                            <h3>Advisory</h3>
                        </div>
                    }
                }
            }

            <div class="slide-banner" style="background-image: url('imgs/banners/rain1.jpg')">
                <h4>Cubao</h4>
                <h2>Heavy Rain</h2>
                <h3>Advisory</h3>
            </div>
            <div class="slide-banner" style="background-image: url('imgs/banners/thunderstorm1.jpg')">
                <h4>Novaliches</h4>
                <h2>Thunder Storm</h2>
                <h3>Advisory</h3>
            </div>
            <div class="slide-banner" style="background-image:url('imgs/banners/flood1.jpg')">
                <h4>Batasan</h4>
                <h2>Flood</h2>
                <h3>Advisory</h3>
            </div>
        </div>
        <div class="sliderannouncement-pager"></div>
    </div>
</section>


<!--<div id="sliderSource" style="display:none">-->
    @*
            data-cycle-fx="scrollHorz"
        data-cycle-pause-on-hover="true"
        data-cycle-timeout="5000"
        data-cycle-slides="> div"
        data-cycle-swipe="true"
        data-cycle-swipe-fx="scrollHorz"
        data-cycle-pager=".sliderannouncement-pager"
    *@
    <!--<div class="cycle-slideshow">
        <div class="slide-banner" style="background-image: url('/imgs/banners/rain1.jpg')"></div>
        <div class="slide-banner" style="background-image: url('/imgs/banners/landslide1.jpg')"></div>
        <div class="slide-banner" style="background-image: url('/imgs/banners/thunderstorm1.jpg')"></div>
        <div class="slide-banner" style="background-image:url('/imgs/banners/flood1.jpg')"></div>
    </div>
    <div class="sliderannouncement-pager"></div>
</div>-->

<section>
    <h1 class="main-label" >Where to go?</h1>
    <div id="mapImagePanel" class="section-highlight">
        <a href="javascript:void(0)" onclick="$('.link_mapsearch a').click()">
            <img src="/imgs/banners/staticmap1.png" style="width:100%" />
        </a>
    </div>
</section>


<!-- Guidelines/What to do section -->
<section>
    <h1 class="main-label">Guidelines</h1>

    <div class="scroll-pane guidelines">
        <!-- FIRST PAGE: 2 big + 3 small -->
        <div class="guideline-set primary">
            <div class="left">
                <a class="guide-card tall" href="/WTDfirstaid" style="background-image: url('imgs/agapay_img/First-Aid.jpeg')">
                    <span class="label">First Aid Guide</span>
                </a>
                <a class="guide-card tall" href="/EmergencyHotlines" style="background-image: url('imgs/agapay_img/Hotlines.jpeg')">
                    <span class="label">Emergency Hotlines</span>
                </a>
            </div>
            <div class="right">
                <a class="guide-card small" href="/WTDearthquake" style="background-image: url('imgs/agapay_img/Earthquake1.jpeg')">
                    <span class="label">Earthquake</span>
                </a>
                <a class="guide-card small" href="/WTDtyphoon" style="background-image: url('imgs/agapay_img/Typhoon1.jpeg')">
                    <span class="label">Typhoon</span>
                </a>
                <a class="guide-card small" href="/WTDfire" style="background-image: url('imgs/agapay_img/Fire.jpeg')">
                    <span class="label">Fire</span>
                </a>
            </div>
        </div>

        <!-- SECONDARY PAGES: only small images -->
        <div class="guideline-set secondary">
            <div class="left">
                <a class="guide-card small" href="/WTDflood" style="background-image: url('imgs/agapay_img/Flood1.jpeg')">
                    <span class="label">Flood</span>
                </a>
                <a class="guide-card small" href="/WTDlandslide" style="background-image: url('imgs/agapay_img/Landslide1.jpeg')">
                    <span class="label">Landslide</span>
                </a>
                <a class="guide-card small" href="#" style="background-image: url(' ')">
                    <span class="label"> Name </span>
                </a>
            </div>
            <div class="right">
                <a class="guide-card small" href="#" style="background-image: url(' ')">
                    <span class="label"> Name </span>
                </a>
                <a class="guide-card small" href="#" style="background-image: url(' ')">
                    <span class="label"> Name </span>
                </a>
                <a class="guide-card small" href="#" style="background-image: url(' ')">
                    <span class="label"> Name </span>
                </a>
            </div>
        </div>
    </div>
</section>


@* Old What to do UI 

    <section>
    <h1>What to do?</h1>
    <div id="menuHorizontalImages">
        <div class="scrollPane">
            <div class="menu-image" style="background-image: url('/imgs/banners/rain1.jpg')"></div>
            <div class="menu-image" style="background-image: url('/imgs/banners/landslide1.jpg')"></div>
            <div class="menu-image" style="background-image: url('/imgs/banners/thunderstorm1.jpg')"></div>
            <div class="menu-image" style="background-image:url('/imgs/banners/flood1.jpg')"></div>
            <div class="menu-image" style="background-image: url('/imgs/banners/rain1.jpg')"></div>
            <div class="menu-image" style="background-image: url('/imgs/banners/landslide1.jpg')"></div>
            <div class="menu-image" style="background-image: url('/imgs/banners/thunderstorm1.jpg')"></div>
            <div class="menu-image" style="background-image:url('/imgs/banners/flood1.jpg')"></div>
        </div>        
    </div>

    <div id="mainBanner" class="section-highlight" style="background-color: lightcyan;">
        <a href="">
            <img src="/imgs/banners/info_ad4.png" style="width:100%" />
        </a>
    </div>

    <div id="portalLinks" style="margin:10px 0px;">
        <a href="" style="margin-right: 8px;">
            <img src="/imgs/emergency.svg" style="height: 80%; margin: 5px; float: left;" />
            <h6 style="padding-top: 20px;">
                Emergency Hotlines
            </h6>
        </a>
        <a href="">
            <img src="/imgs/plan_icon.svg" style="height: 80%; margin: 5px; float: left;" />
            <h6 style="padding-top: 10px;">
                Personal Emergency Plans
            </h6>
        </a>
    </div>

    <div id="secondBanner" class="section-highlight" style="background-color: lightcyan;">
        <a href="">
            <img src="/imgs/banners/info_ad3.jpg" style="width:100%" />
        </a>
    </div>
    <br style="margin-bottom:100px;"/>
</section>
*@


<!--For reference go here: https://jquery.malsup.com/cycle2/demo -->
@* <script src="js/jquery.cycle2.js"></script> *@
<script>
    $(function(){
        //loadSlider();
    });

    function loadSlider(){
        $('#announcementPanel').html('');
        $('#announcementPanel').html($('#sliderSource').html());

        $('#announcementPanel .cycle-slideshow').attr('data-cycle-fx','scrollHorz');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-pause-on-hover','true');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-timeout','5000');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-slides','> div');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-swipe','true');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-swipe-fx','scrollHorz');
        $('#announcementPanel .cycle-slideshow').attr('data-cycle-pager','.sliderannouncement-pager');
    }
</script>